input {
  font-size: 22px; /* Ajusta el tamaño del texto según tus preferencias */
  padding: 10px; /* Ajusta el tamaño del input según tus preferencias */
}

button {
  font-size: 1.2rem; /* Ajusta el tamaño del texto según tus preferencias */
}