<div class="container py-5">
    <div class="row">
        <!-- ... -->
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title text-center">Código de Barras y Total</h3>
                </div>
                <div class="card-body">
                    <div class="total-compra mb-3">
                        <h4>Total de Compra:</h4>
                        <h1>
                            <p class="font-weight-bold text-success">$ {{ totalCompra }}</p>
                        </h1>
                    </div>
                    <div class="mb-3">
                        <label for="codigoBarras" class="form-label">Código de Barras</label>
                        <input type="text" class="form-control" id="codigoBarras" [(ngModel)]="codigoBarras"
                            (keyup.enter)="agregarProductoPorCodigo()" placeholder="Ingresar código de barras">
                            <div class="row">
                            <div class="col-md-4"><button type="button" class="btn btn-success btn-sm mt-3" (click)="limpiarCarrito()">Pagar</button></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-right"><button type="button" class="btn btn-danger btn-sm mt-3" (click)="limpiarCarrito()">Limpiar</button></div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title text-center">Carrito</h3>
                </div>
                <div class="card-body">
                    <div class="productos-agregados mb-3">
                        <h4>Productos Agregados:</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col"></th> <!-- Para el botón de eliminar -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productosAgregados; let i = index">
                                    <td>{{ producto.nombre }}</td>
                                    <td>$ {{ producto.valor }}</td>
                                    <td>
                                        <!-- Botón para eliminar -->
                                        <button type="button" class="btn btn-danger btn-sm" (click)="quitarProducto(i)">&times;</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>