<div class="container mt-5">
    <h2 class="mb-4">Lista de Productos</h2>
    <div class="list-group">
        <div *ngFor="let producto of productos" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ producto.nombre }}</h5>
                <div>
                    <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </div>
            </div>
            <p class="mb-1"><strong>Código de Barras:</strong> {{ producto.codigo_barra }}</p>
            <p class="mb-1"><strong>Valor:</strong> {{ producto.valor | currency }}</p>
            <!-- Agrega aquí más detalles del producto si es necesario -->
        </div>
    </div>
</div>