<div class="container mt-5">
    <h2 class="mb-4">Lista de Productos</h2>

    <!-- Botón para agregar productos -->
   
    <div class="row mb-3">
        <div class="col-md-3">
            <input type="text" [(ngModel)]="nombreProducto" (keyup)="buscarPorNombre()" placeholder="Buscar por Nombre"
                class="form-control">
        </div>
        <div class="col-md-3">
            <input type="text" [(ngModel)]="codigoBarras" (keyup)="buscarPorCodigo()"
                placeholder="Buscar por Código de Barras" class="form-control">
        </div>
        <div class="col-md-3 text-right">
            
        </div>
        <div class="col-md-3 text-right">
            <button type="button" class="btn btn-success" (click)="agregarProducto()">Agregar Producto</button>
            </div>
       
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Código de Barras</th>
                            <th>Valor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <td>{{ producto.id }}</td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.codigo_barra }}</td>
                            <td>${{ producto.valor }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" (click)="editarProducto(producto)">Editar</button>&nbsp;
                                <button type="button" class="btn btn-danger btn-sm" (click)="eliminarProducto(producto.id)">Eliminar</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
<app-agregar-producto-modal *ngIf="mostrarModal" [productoActual]="productoActualParaEditar"
    (cerrarModal)="mostrarModal=false; refrescarListaProductos()" (refrescarProductos)="refrescarListaProductos()">
</app-agregar-producto-modal>
    